* {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	text-align: center;
}

a {
	text-decoration: none;
} 

#navbar {
	width: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	background: #2f2f2f;
	text-align: left;
	position: fixed;
	top: auto;
	z-index: 5;
}

#toplogo {
	width:120px;
	margin-left: 17px;
	margin-top: 17px;
	position: absolute;
	left: 0;
}

#menu-icon {
	height: 32px;
	margin-right: 35px;
	padding-left: 35px;
	position: absolute;
	right:0;
	top: 15px;
}

#navbar ul {
	list-style: none;
}

#navbar ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
	position: absolute;
	right: 70px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 		all 0.2s ease;
	-ms-transition:			all 0.2s ease;
	-o-transition: 			all 0.2s ease;
	transition: 				all 0.2s ease;
}

#navbar ul > li > ul {
	display: block;
	text-align: left;
	color: black;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

#navbar ul > li > ul > li {
	border: 1px solid #2f2f2f;
	background-color: white;
	font-size: 0.5em;
	width: 100%;
	padding: 5px 30px 5px 0;
}

#navbar ul > li > ul > li > a {
	text-decoration: none;
	padding-left: 12px;
}

#navbar ul > li > ul > li:hover {
	background-color: #00aeef;
}

#navbar ul > li > ul > li:hover > a {
	color: white;
}

#navbar ul > li > ul > li:active > a {
	color: #404041;
}

#logo {
	width:30%;
	min-width: 200px;
}

#phone-img {
	width: 30%;
	min-width: 200px;
}

table {
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

td {
	padding-top: 5%;
	text-align: center;
}

#tagline {
	font-size: 2em;
}
 
#register-bar { 
  margin: 4% 0;
  padding: 0.25%;
  position: relative;
  background-color: #00aeef;
  z-index: 1;
}

/*#register-bar-left {
  margin: 4% 0;
  padding: 0.25%;
  background-color: #00aeef;
  position: relative;
  z-index: 1;
  float: left;
}

#register-bar-right {
	background-color: #00aeef;
	margin: 4% 0;
  padding: 0.25%;
	position: relative;
	z-index: 1;
	float: left;
}*/

#email-bar {
	border-radius: 65px;
	border-style: none;
	padding: 0.2em 0 0.2em 0.3em;
	min-width: 40%;
	font-size: 0.9em;
	margin-right: -0.1em;
	position: relative;
	z-index: 2;
	outline: none;
}

#email-border {
	border-right: 0.3em solid white;
	border-top: 0.3em solid white;
	border-bottom: 0.3em solid white;
	border-bottom-right-radius: 80px;	
	border-top-right-radius: 80px;
	padding: 0.25em 0.25em 0.3em 0;
	position: relative;
	margin-right: -21px;
	z-index: 2;
}

#btn-register {
	border-right: 0.3em solid white;
	border-top: 0.3em solid white;
	border-bottom: 0.3em solid white;
	padding: 0.5em 0.8em 0.4em 0.9em;
	color: white;
	border-bottom-right-radius: 80px;	
	border-top-right-radius: 80px;
	font-size: 1em;
	z-index: 1;
	position: relative; 
	outline: none;
	font-size: 0.9em;
	/*background-color: yellow;*/
}

.btn:hover {
	background-color: #48a4df;
	outline: none;
}

.bar {
	clear:both;
}

#btn-register:active {
	color: #404041;
}


@media only screen and (max-width: 1000px) {

   body { font-size: 0.8em; }

   #register-bar { font-size: 1em; }

   #email-border { padding: 0.25em 0.25em 0.4em 0; }

   #btn-register { padding: 0.49em 0.8em 0.5em 1.3em;}


}

@media only screen and (max-width: 600px) {

   body { font-size: 0.5em; }

   #register-bar { font-size: 1.15em;}

   #btn-register { padding: 0.5em 0.8em 0.5em 1.8em;}


}

