* {
	font-family: 'Raleway', sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	background-image: no-repeat;
}

body {
	margin:0;
	padding:0;
	text-align: center;
}

#navbar {
	width: 100%;
	height: 4em;
	padding: 0.2em 0;
	margin: 0 2em 0 0;
	background: #2f2f2f;
	text-align: left;
	position: fixed;
	top: auto;
}

#toplogo {
	width:120px;
	margin-left: 1em;
	margin-top: 1em;
	float: left;
}

#icon-menu {
	height: 2em;
	float:right;
	margin-right: 2em;
	padding-left: 2em;
}

#navbar ul {
	list-style: none;
}

#navbar ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
	position: absolute;
	right: 4.5em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 		all 0.2s ease;
	-ms-transition:			all 0.2s ease;
	-o-transition: 			all 0.2s ease;
	transition: 				all 0.2s ease;
}

#navbar ul > li > ul {
	display: block;
	text-align: left;
	color: black;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

#navbar ul > li > ul > li {
	border: 1px solid #2f2f2f;
	background-color: white;
	width: 10em;
	padding: 0.5em 2em 0.5em 0;
}

#navbar ul > li > ul > li > a {
	text-decoration: none;
	color: #2f2f2f;
	padding: 0.5em;
	width: 100%;
	height: 100%;
}

#navbar ul > li > ul > li:hover {
	background-color: #00aeef;
}

#navbar ul > li > ul > li:hover > a {
	color: white;
}

#logo {
	width:500px;
}

#phone-img {
	width: 500px;
}

table {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: -1;
	min-width: 55em;
}

td {
	padding: 1em 4em;
	text-align: center;
}

#tagline {
	font-size: 70px;
	padding-top: 70px;
}
 
#register-bar-left { 
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  background: #00aeef;
  position: relative;
}

#signup {
  font-size: 30px;
  color: white;
}

#email {
	border-radius: 30px;
	border-style: none;
	padding: 15px  50px 15px 10px;
	min-width: 10em;
	font-size: 25px;
}

#btn-register {
	border-right-color: white;
	border-radius: -15px;
	padding: 30px;
	text-decoration: none;
	color:white;
}

#btn-register.hover {
	color: #404041;
}