* {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

a {
	text-decoration: none;
} 

ul {
	list-style: none;
}

.main-header {
	position: fixed;
	z-index: 5;
	background-color: #2f2f2f;
	width: 100%;
	height: 60px;
}

.main-logo,
.navmenu-icon, 
.dropdowm,
.navmenu,
.frame, 
.register-bar,
.register-bar-text,
.email-input-bar,
.email-border,
.btn-register {
	display: inline-block;
}

.main-logo {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
	left: 9px;
	top: 9px;
}

.dropdown {
	position: absolute;
	float: right;
	margin: 0;
	top: 13px;
	right: 10px;
}

.navmenu {
	position: absolute;
	float: right;
	opacity: 0;
	visibility: hidden;
	right: 60px;
	top: 0;	
}

.navmenu a {
	position: relative;
	display: block;
	margin: 0;
	padding: 0.2em 3em 0.2em 0.5em;
	font-size: 0.5em;
	text-align: left;
	background-color: white;
	border-bottom: 1px solid #2f2f2f;
	border-right: 1px solid #2f2f2f;
	border-left: 1px solid #2f2f2f;
}

.navmenu-icon {
	position: absolute;
	height: 32px;
	padding-left: 35px;
	right: 20px;
}

.dropdown > li:hover > ul {
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.2s ease;
	-moz-transition: 		all 0.2s ease;
	-ms-transition:			all 0.2s ease;
	-o-transition: 			all 0.2s ease;
	transition: 				all 0.2s ease;
}

.navmenu a:hover {
	background-color: #00aeef;
	color: white;
}

.navmenu a:active {
	color: #404041;
}

.frame {
	position: relative;
	z-index: 1;
	top: 70px;
	margin-left: auto;
	margin-right: auto;
}

.content-container {
	padding: 0.7em 0;
	text-align: center;
}	

#logo {
	width:30%;
	min-width: 200px;
}

#phone-img {
	width: 30%;
	min-width: 200px;
}

#tagline {
	font-size: 2em;
}
 
.register-bar { 
  position: relative;
  z-index: 1;
  margin: 6% 0;
  padding: -5px 0;
  color: white;
  background-color: #00aeef;
  width: 100%;
}

.email-input-bar {
	position: relative;
	z-index: 4;
	font-size: 0.9em;
	color: #2f2f2f;
	text-align: left;
	margin-right: -0.1em;
	padding: 0.2em 0 0.2em 0.3em;
	top:0;
	bottom:0;
	border-radius: 65px;
	border-style: none;
	outline: none;
	min-width: 200px;	
}

.email-border {
	position: relative;
	z-index: 4;
	padding: 0.18em 0.25em 0.2em 0;
	margin-right: -45px;
	background-color: #00aeef;
	border-right: 0.3em solid white;
	border-top: 0.3em solid white;
	border-bottom: 0.3em solid white;
	border-bottom-right-radius: 80px;	
	border-top-right-radius: 80px;	
}

.btn-register {
	position: relative; 
	z-index: 1;
	font-size: 0.9em;
	color: white;
	outline: none;
	padding: 0.48em 0.6em 0.46em 50px;
	border-right: 0.4em solid white;
	border-top: 0.4em solid white;
	border-bottom: 0.4em solid white;
	border-bottom-right-radius: 80px;	
	border-top-right-radius: 80px;
}

.btn:hover {
	background-color: #48a4df;
	outline: none;
}
.btn > a {
	display: block;
	color: white;
}

.btn:active > a { 
	color: #404041;
}

/*.bar {
	clear:both;
}*/

@media only screen and (max-width: 1000px) {

   body { font-size: 0.8em; }

   .register-bar { font-size: 1.1em; }
 
   .btn-register { padding: 0.50em 0.6em 0.46em 50px; }

   .navmenu a { font-size: 0.6em; } 
}

@media only screen and (max-width: 600px) {

   body { font-size: 0.5em; }

   .register-bar { font-size: 1.3em; }

   .btn-register { padding: 0.50em 0.6em 0.45em 45px; }

   .navmenu a { font-size: 0.8em; }
}

